<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            border: 1px solid #dddddd;
        }
        .header {
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #dddddd;
        }
        .brand-image {
            height: 4rem;
            width: 4rem;
        }
        .header h1 {
            margin: 0;
            color: #3a003d;
        }
        .content {
            padding: 20px 0;
        }
        .content p {
            font-size: 13px;
            color: #666666;
        }
        .order-details {
            margin: 20px 0;
        }
        .order-details h2 {
            font-size: 18px;
            color: #3a003d;
        }
        .order-details table {
            width: 100%;
            border-collapse: collapse;
            margin: 10px 0;
        }
        .order-details table, .order-details th, .order-details td {
            border: 1px solid #dddddd;
        }
        .order-details th, .order-details td {
            padding: 8px;
            text-align: left;
        }
        .product-image{
            height: 50px;
            width: 50px;
        }
        .footer {
            text-align: center;
            padding: 5px 0;
            font-size: 12px;
            border-top: 1px solid #dddddd;
            color: #999999;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img class="brand-image" src="https://res.cloudinary.com/debwkutxb/image/upload/v1722239665/my-ecom/ah30cob3jtnspais47yp.png" alt="brand-image">
            <h1>Order Confirmation</h1>
        </div>
        <div class="content">
            <p>Dear <%= name %>,</p>
            <p>Thank you for your order! We are pleased to confirm your order number <%= orderId %>.</p>
            <div class="order-details">
                <h2>Order Details</h2>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(item => { %>
                        <tr>
                            <td><img src="<%= item.product.images[0] || "" %>" class="product-image" alt="product-image"></td>
                            <td><%= item.product.product_name|| "--"%></td>
                            <td><%= item.count || "--"%></td>
                            <td><%= item.product.price ? `₹${item.product.price}`: "--" %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <p>Total Amount: <strong><%= total ? `₹${total}` : "--" %></strong></p>
            <p>Your order will be shipped to the following address:</p>
            <p><%= address %></p>
            <p>We will send you another email once your order has been shipped.</p>
            <p>Thank you for shopping with us!</p>
            <p>Best regards,</p>
            <p>My Ecom Team</p>
        </div>
        <div class="footer">
            <p>If you did not place this order, please contact our support team immediately.</p>
        </div>
    </div>
</body>
</html>
